* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-container {
  max-width: calc(100vw - 20px);
  width: 450px;
  margin: 20px auto;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

input {
  border: none;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  width: 100%;
  outline: none;
}

.deadline {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  color: black;
  cursor: pointer;
  width: 100px;
}

.todo-options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

select {
  border: none;
  border-radius: 3px;
  height: 30px;
  outline: none;
  width: 220px;
}

.date-input {
  height: 32px;
  width: 220px;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.todo-content {
  align-items: center;
  background-color: darkolivegreen;
  border-radius: 5px;
  display: flex;
  height: 70px;
  transition: margin-left 0.3s ease-out;
}

.box {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.todo-flex {
  align-items: center;
  display: flex;
  font-size: small;
  justify-content: space-between;
  margin: auto 15px;
  width: 100%;
}

.contain {
  align-items: center;
  display: flex;
  gap: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tag {
  align-items: center;
  background-color: rgba(255, 166, 0, 0.431);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 2px 4px;
}

.todo .crossed {
  text-decoration: line-through;
}

.todo.deleted {
  margin-left: 100vw;
  max-width: 100%;
}
