.todo-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: calc(100vw - 20px);
  margin: 20px auto;
  width: 500px;
}

h1 {
  text-align: center;
}

.todo-container input[type="text"],
.todo-container input[type="date"] {
  border: #000;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 12px;
  height: 32px;
  padding: 5px 10px;
  width: 100%;
}

.todo-container select {
  height: 30px;
  width: 100%;
}

.todo-container .todo-options {
  align-items: center;
  display: flex;
  gap: 15px;
  margin: 15px 0;
  width: 100%;
}

.todo-container .todo-options * {
  align-items: center;
  flex: 1;
  justify-content: center;
}

#checkbox {
  border-color: #b8860b;
  cursor: pointer;
}

.todo-container button {
  cursor: pointer;
  height: 32px;
  min-width: 140px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

.todo-container .todos .flex {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: space-between;
  padding-top: 5px;
}

.todo .details {
  align-items: center;
  flex: 1;
  justify-content: center;
}

.box {
  box-sizing: border-box;
  cursor: pointer;
}

.todo {
  background-color: darkolivegreen;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  transition: all 0.3s ease-out;
}

#todoError {
  color: #ff4500;
  display: none;
  font-size: 0.8em;
}

#todoError.visible {
  display: block;
}

#todo.invalid {
  border-color: #ff4500;
}

.todo p {
  font-size: 15px;
  margin: 0;
}

.todo .time {
  font-size: 0.6rem;
}

.todo .priority {
  align-items: center;
  background-color: rgba(255, 166, 0, 0.431);
  border: 1px solid #ffa500;
  border-radius: 4px;
  justify-content: center;
  padding: 2px 4px;
}

.todo .crossed {
  text-decoration: line-through;
}

.todo.deleted {
  animation: slide-out 0.3s ease-in;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
